# Dependency directories
node_modules/
jspm_packages/
venv/
.venv/
env/
__pycache__/
*.py[cod]
*$py.class

# Next.js build output
.next/
out/

# IDEs and OS files
.idea/
.vscode/
.DS_Store
Thumbs.db

# Environments / Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log
